<div style="background-color: #9a616d">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Minimum Guests</th>
                  <th>Maximum Guests</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let accommodation of accommodations">
                  <td (click)="select(accommodation)">
                    {{ accommodation.name }}
                  </td>
                  <td (click)="select(accommodation)">
                    {{ accommodation.location }}
                  </td>
                  <td (click)="select(accommodation)">
                    {{ accommodation.minGuests }}
                  </td>
                  <td (click)="select(accommodation)">
                    {{ accommodation.maxGuests }}
                  </td>
                  <td (click)="select(accommodation)">
                    {{ accommodation.price }}
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="selected">
              <br />
              <br />
              <br />
              <h3 class="mb-5 text-uppercase">DETAILS OF ACCOMMODATION</h3>
              <button (click)="unselect()">UNSELECT</button>
              <button (click)="selectCustomPrice()">CUSTOM PRICE</button>
              <table>
                <tr>
                  <td>Name</td>
                  <td>{{ selectedAccommodation.name }}</td>
                </tr>
                <tr>
                  <td>Location</td>
                  <td>{{ selectedAccommodation.location }}</td>
                </tr>
                <tr>
                  <td>Benefits</td>
                  <td>
                    <ul>
                      <li
                        *ngFor="let benefit of selectedAccommodation.benefits"
                      >
                        {{ benefit }}
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Minimum Guests</td>
                  <td>{{ selectedAccommodation.minGuests }}</td>
                </tr>
                <tr>
                  <td>Maximum Guests</td>
                  <td>{{ selectedAccommodation.maxGuests }}</td>
                </tr>
                <tr>
                  <td>Price</td>
                  <td>{{ selectedAccommodation.price }}</td>
                </tr>
                <tr>
                  <td>Pictures</td>

                  <td>
                    <img [src]="imageUrl1" />
                    <img [src]="imageUrl2" />
                    <img [src]="imageUrl3" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
