<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div style="background-color: #9A616D;">
<div class="container">
    <div class="row" >
        <div class="col-md-4 col-sm-4 col-xs-12"  style="margin-top: 100px;">
            <div class="team-boxes">
                <div class="team-thumb overlay-image view-overlay">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                    <div class="clear">
                    </div>
                    <div class="mask team_quote">
                        <div class="port-zoom-link">
                            <p>
                                <span class="accentcolor" style="font-weight:700;">MOTTO</span>
                                <br>
                                <i>"All the world's a stage<br>And all the men and women merely players"</i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="team-info">
                    <h2>Kathleen Walsh</h2>
                    <p>
                        Logistic Stuff
                    </p>
                </div>
                <div class="separator">
                </div>
                <div class="team-social">
                    <a href=""><i class="fa fa-facebook-square"></i></a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-4 col-xs-12"  style="margin-top: 100px;">
            <div class="team-boxes">
                <div class="team-thumb overlay-image view-overlay">
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                    <div class="clear">
                    </div>
                    <div class="mask team_quote">
                        <div class="port-zoom-link">
                            <p>
                                <span class="accentcolor" style="font-weight:700;">ABOUT ME:)</span>
                                <br> "I have all these great genes, but they're recessive"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="team-info">
                    <h2>Georgia Mccormick</h2>
                    <p>
                        Photographer
                    </p>
                </div>
                <div class="separator">
                </div>
                <div class="team-social">
                    <a href=""><i class="fa fa-facebook-square"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"  style="margin-top: 100px;">
            <div class="team-boxes">
                <div class="team-thumb overlay-image view-overlay">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                    <div class="clear">
                    </div>
                    <div class="mask team_quote">
                        <div class="port-zoom-link">
                            <p>
                                <span class="accentcolor" style="font-weight:700;">SHOULD I QUOTE?</span>
                                <br> "It's knowing what needs to be done that brings strength!"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="team-info">
                    <h2>Marjorie Watson</h2>
                    <p>
                        Marketing
                    </p>
                </div>
                <div class="separator">
                </div>
                <div class="team-social">
                    <a href=""><i class="fa fa-facebook-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>