label.radio-label {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="radio"]:checked + label.radio-label {
    background-color: #428bca;
    color: #fff;
  }