<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div style="background-color: #9A616D;">
<div class="container">
    <div class="table-header">
        <h1 style="text-align: center;">My Reservations</h1>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Number of Guests</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of bookings">
            <td>{{ item.startDate}}</td>
            <td>{{ item.endDate }}</td>
            <td>{{ item.numberOfGuests }}</td>
            <td>{{ item.price }}</td>
            <td><button (click)="onButtonClick(item)">Klikni me!</button></td>
          </tr>
        </tbody>
      </table>
     
</div>

